@font-face {
    font-family: index;
    src: url(index.ttf);
}

@font-face {
    font-family: index2;
    src: url(index2.ttf);
}

body {
    font-family: index;
    background-color: #0d3a5a;
    text-align: center;
}

#logo {
    top: 40px;
    left: calc(50% - 180px);
    position: absolute;
    width: 1795px;
    height: 1361px;
    margin: auto;
    transform: scale(.2);
    transform-origin: top left;
}

#logo > div {
    background-size: 100% 100%;
    position: absolute;
}

#logo .outline {
    background-image: url('img/outline.png');
    width: 1795px;
    height: 1361px;
}

#logo .wheeloutline {
    background-image: url('img/wheeloutline.png');
    width: 1690px;
    height: 1234px;
    top: 40px;
    left: 50px;
}

#logo .wheel {
    background-image: url('img/wheel.png');
    width: 744px;
    height: 741px;
    top: 57px;
    left: 980px;
    animation: 5s spin infinite linear;
}

#logo .suite {
    background-image: url('img/suite.png');
    width: 1099px;
    height: 574px;
    top: 745px;
    left: 270px;
}

#logo .super {
    background-image: url('img/super.png');
    width: 1363px;
    height: 760px;
    top: 200px;
    left: 140px;
}

#logo .bonbon {
    background-image: url('img/bonbon.png');
    width: 348px;
    height: 204px;
    top: 205px;
    left: 615px;
    animation: shimmy 1s infinite ease-in-out;
    animation-delay: .3s;
}

#logo .bonbon2 {
    background-image: url('img/bonbon2.png');
    width: 460px;
    height: 300px;
    top: 825px;
    left: 1300px;
    animation: shimmy 1s infinite ease-in-out;
    animation-delay: .6s;
}

#logo .pop {
    background-image: url('img/pop.png');
    width: 199px;
    height: 415px;
    top: 857px;
    left: 33px;
    animation: shimmy 1s infinite ease-in-out;
}

@keyframes shimmy {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

h1 {
    font-family: index2;
    color: #24a5ff;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#projects {
    margin-top: 370px;
    text-align: center;
}

#projects .project {
    
    vertical-align: top;
    margin: 30px;
    display: inline-block;
    width: 420px;
    height: 380px;
    background-color: #1068a2;
    position: relative;
    border-radius: 50px;
}

#projects .project .title {
    font-size: 25px;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.62);
    display: inline-block;
}

#projects .project .logo {
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
    display: inline-block;
    margin: 10px 10px 0px 0px;
    vertical-align: -12px;
}

#projects .project .bg {
    width: 400px;
    height: 300px;
    background-size: 100% 100%;
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: #0e3a5a;
    border-radius: 40px;
}
